<div class="fondo">
    <h3>Editar Usuario</h3>
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Nombre de usuario" value="">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Apellido</mat-label>
            <input matInput placeholder="Apellido de usuario">
        </mat-form-field>
        <button mat-flat-button color="primary">Editar</button>
    </form>
</div>